<div class="mainPopup">
  <div class="popupHead">
    <img class="notebook" src="img/notebook.png">
    <div>PotLuck.txt</div>
    <a class="close" onclick="pageChange(0)"><img src="img/close.png"></a>
  </div>
  
  <div class="popupBody">
    <a class="homelist" onclick="pageChange(2)" href="#read"><b>readMe.txt</b></a>
    <a class="homelist" onclick="pageChange(3)" href="#music"><b>music.wav</b></a>
    <a class="homelist" onclick="pageChange(4)" href="#videos"><b>videos.mp4</b></a>
    <a class="homelist" onclick="pageChange(5)" href="#games"><b>games.exe</b></a>
  </div>
</div>