<div class="mainPopup">
    <div class="popupHead">
      <img class="notebook" src="img/notebook.png">
      <div>music.wav</div>
      <a class="close" onclick="pageChange(3)" href="#music"><img src="img/close.png"></a>
    </div>
    
    <div class="popupBody">
      <a class="musicFile" onclick="pageChange(7)" href="#indica">
        <div class="fileImgO"></div>
        <div class="musicBrand"><b>Indica</b></div>
      </a>
      <a class="musicFile" onclick="pageChange(7)" href="#sativa">
        <div class="fileImgO"></div>
        <div class="musicBrand"><b>Sativa</b></div>
      </a>
  </div>
</div>