<div class="mainPopup">
    <div class="popupHead">
      <img class="notebook" src="img/notebook.png">
      <div>music.wav</div>
      <a class="close" onclick="pageChange(6)" href="#brand"><img src="img/close.png"></a>
    </div>
    
    <div class="popupBody">
        <div class="song">
            <div id="song"><b>Polo G - Rapstar</b></div>
            <audio controls onplay="editText(0)" onended="editText(1)">
                <source src="music/Polo_G_Rapstar.mp3" type="audio/mpeg">
                <p>Your browser cannot play this audio but you can download the file <a href="music/Polo_G_Rapstar.mp3.mp3">here</a>.</p>
            </audio>
        </div>
    </div>
</div>