<div class="mainPopup">
    <div class="popupHead">
      <img class="notebook" src="img/notebook.png">
      <div>music.wav</div>
      <a class="close" onclick="pageChange(1)" href="#home"><img src="img/close.png"></a>
    </div>
    
    <div class="popupBody">
        <a class="musicFile" onclick="pageChange(6)" href="#spotify">
          <div class="fileIMG"><img class="brandIMG" src="img/spotify.png" alt="Spotify Logo on a File"></div>
          <div class="musicBrand"><b>Spotify</b></div>
        </a>
        <a class="musicFile" onclick="pageChange(6)" href="#apple">
          <div class="fileIMG"><img class="brandIMG" src="img/apple.png" alt="Apple Logo on a File"></div>
          <div class="musicBrand"><b>Apple Music</b></div>
        </a>
    </div>
</div>