<div class="mainPopup">
    <div class="popupHead">
      <img class="notebook" src="img/notebook.png">
      <div>readMe.txt</div>
      <a class="close" onclick="pageChange(1)" href="#home"><img src="img/close.png"></a>
    </div>

    <div class="popupBody">
        <div class="readText">
            <b>** DISCLAIMER **</b><br>
            This website has been made as a proof of concept for a small business I am working on that sells an experience to smokers. This page is meant to be viewed in mobile and the code was originally going to be written using react and django, but given this class, I assumed that a static website would be more relevant, though I still wrote as if I was using react components to keep it clean. Also, this website is not fully built out yet and this is just an idea of what it could look like. Some functions have been changed to accomodate.<br>
            Follow us on IG @potluckny<br>
            <b>** DISCLAIMER **</b><br><br>
            This website was designed in hopes of providing you entertainment and thus enhancing your herbal experience while using our products.<br><br>
            We hope you enjoy.<br><br>
            <b>Music</b><br>
            We have curated music playlists that are constantly updated for your listening. Under the Music folder are two folders - Apple Music and Spotify. Please select whichever streaming service you prefer. Under each subsequent folder will be two folders - Indica and Sativa. Please select accordingly.<br><br>
            <b>Videos</b><br>
            Under the Videos folder are a few links to some fun/interesting videos to watch while smoking. There are some different genres so select what you feel at the moment.<br><br>
            <b>Games</b><br>
            Under the Games folder will soon be a few interactive games to play solo or with a group, however these are still under development. Please check back in the future.
        </div>
    </div>
</div>
